.slider {
  width: 80em; /*100%*/
  /*min-width: 200px; /*200px*/
  min-height: 15em;
  margin: 10px auto;
}

.slick-slide {
  margin: 25px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: white;
}

.slick-slide {
  transition: all ease-in-out .5s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}